* {
    font-family: Helvetica;
}

.banner {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url('/Resources/Images/pattern.jpeg');
    filter: drop-shadow(1px 1px 1px black);
}

.product {
    font-size: 32px;
    font-weight: bold;
    color: white;
    filter: drop-shadow(1px 1px 1px black);
}

.product-name {
    font-weight: bold;
}

#brushes {
    background-color: mediumspringgreen;
}

#frames {
    background-color: lightcoral;
}

#paint {
    background-color: skyblue;
}

.productname {
    font-weight: bold;
    font-size: 20px;
}

.price {
    font-weight: bold;
    color: blue;
}

h3 {
    text-align: center;
    padding-top: 20px;
}